<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.isen.cata.werewolfapp">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/loup_garou"
            android:label="Loup-Garou"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".UserSettingsActivity">
        </activity>
        <activity android:name=".SignUpActivity">
        </activity>
        <activity android:name=".SignInActivity">
        </activity>
        <activity android:name=".EndGameActivity">
        </activity>
        <activity android:name=".GameActivity">
        </activity>
        <activity android:name=".BeginGameActivity">
        </activity>
        <activity android:name=".JoinActivity">
        </activity>
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".CreateActivity">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".HomeActivity">
        </activity>
        <activity android:name=".LobbyActivity">

        </activity>
    </application>

</manifest>